CLUSTER_NAME=docker-cluster
LICENSE=basic
ES_PORT=9200
ELASTIC_HOST=elastic
MEM_LIMIT=1073741824
discovery.type=single-node
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=app
POSTGRES_USER=app
POSTGRES_DB=textes
DATABASE_DSN=postgresql+asyncpg://app:app@db:5432/textes
SYNC_DATABASE_DSN=postgresql://app:app@db:5432/textes
REDIS_HOST=cache
REDIS_PORT=6379
INDEX=textes
ITERSIZE=100
RESP_SIZE=20